.header {
    color: #ffffff;
    background-color: #0086CD;
    background-size:  240px;
    background-position: 10px;    
    background-repeat: no-repeat;    
    height: 100px;
    font-family: fantasy;
    top: 0;
    padding-left: 20px;
    text-align: right;   
    position: fixed;
    width: 100%;
    z-index: 999;   
}

.subTitulo{
    font-size: xx-large;    
    padding-right: 10px;
    padding-top: 50px;
    color: #faf7e2
}
