<div class="container-fluid">
    <div class="row menu ">
        <div class="col-md-12 text-end " style1="--bs-bg-opacity: .2;">
            <button type="button" class="btn btn-outline-secondary m-2"
                (click)="changeOpcion('characterList')">Character List</button>
            <button type="button" class="btn btn-outline-secondary" (click)="changeOpcion('bitacora')">Bitacora</button>
        </div>

    </div>
</div>
<br>
<app-character-list [opcion]="opcion"></app-character-list>
<app-bitacora [bitacoraList]="bitacoraList" [opcion]="opcion"></app-bitacora>