.menu {
    color: #ffffff;
    background:rgba(244, 240, 240, 1.0);
    background-position: 0px;
    background-repeat: no-repeat;
    height: 60px;
    font-size: medium;
    /*font-family: fantasy;*/
    top: 100;
    padding-left: 0px;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 100px;
}