<app-header></app-header>
<div id="container" class="">
  <app-menu></app-menu>
  <!--
  <app-character-list [characterList2]="characterList" [opcion]="opcion"></app-character-list>
  <app-bitacora [opcion]="opcion"></app-bitacora>  
  -->
</div>