._modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px;
    background: rgb(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 99999;
}

._content {
    box-shadow: 0px 0px 16px 0px rgba(183, 191, 197, 0.75);
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: rgb(255, 255, 255) !important;
    width: 600px;
    max-width: 500px;
}

.modal-header {
    color: #ffffff;
    background-color: #0086CD;
    padding: 10px;
}