@if(visible){
<div class="_modal" id="modal">
  <div class="_content shadow radius-5 m-0 p-0">
    <div class="_modal-dialog">
      <div class="content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center">Character</h4>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="text-center p-3 ">
            <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" width="250px" height="250px"
              class="p-3 cursor-pointer" />
            <h3>{{character.name}}</h3>
            <small>
              {{character.description}}<br>
            </small>

            <!-- Series -->
            <span class="fw-bold">Series</span><br>
            @for(serie of character.series.items; track serie.id) {
            <small class="">
              * {{serie.name}}  
            </small>
            }
            
          </div>
        </div>
<hr>
        <!-- Modal footer -->
        <div class="modal-footer pe-3 pb-3">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
</div>
}