hr { display: block; height: 1px;
    border: 0; border-top: 3px solid #0a67f1;
    margin: 1em 0; padding: 0;
}

.th{
    background-color: #5b81ba;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ffffff;
}