@if(opcion=="bitacora"){
<div class="row m-5">
    <h1>{{title}}</h1>
    <hr>
    <!-- Encabezado -->
    <div class="row">
        <div class="col-md-3 th">
            Id
        </div>
        <div class="col-md-5 th">
            Fecha
        </div>
        <div class="col-md-4 th">
            Consulta
        </div>
    </div>

    <!-- Despligue de la bitacora -->
    @for(bitacora of bitacoraList; track bitacora.id) {
    <div class="col-md-3">
        {{bitacora.idConsulta}}
    </div>
    <div class="col-md-5">
        {{bitacora.fecha | date: "y-MMM-dd h:mm:ss a"}}
    </div>
    <div class="col-md-4">
        {{bitacora.consulta}}
    </div>
    }
</div>

}