hr { display: block; height: 1px;
    border: 0; border-top: 3px solid #0a67f1;
    margin: 1em 0; padding: 0;
}

.shadow{
    box-shadow: 0px 0px 16px 0px rgba(183,191,197,0.75);
}

.radius-5{
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;	
}
