@if(opcion=="characterList"){
<app-character-detalle [visible]="showModal" [character]="character"></app-character-detalle>
<div class="">
  <div class="row m-5">
    <h1>{{title}}</h1>
    <hr>
    <div class="text-center fw-bold">{{status}}</div>
    
    <!-- Despliegue characters -->
    @for(character of characterList; track character.id) {
    <div class="col-md-3 text-center shadow radius-5 m-0 p-0">
      <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" width="250px" height="250px"
        class="p-3 cursor-pointer" (click)="characterSelected($index)" /><br>
      <h3>{{character.name}}</h3>
    </div>
    }
  </div>
</div>
}